In [1]:
print("Welcome")

Welcome

In [2]:
#Datatypes

In [6]:
a=10
b=0B1
print(a,b)
print(type(b))

10 1
<class 'int'>

In [7]:
c=0b101
print(c)
print(type(c))

5
<class 'int'>

In [10]:
d=0o10
e=0Xa
print(d,e)

8 10

In [ ]:
bin()
oct()
hex()

In [13]:
a=0B11+6j
print(a)
#b=3+0B100j not possible
print(a.real, a.imag)

(3+6j)
3.0 6.0

In [14]:
b=True
type(b)

bool

In [15]:
print(True+True)

2

In [16]:
print(True+False)

1

In [17]:
s="""hlo
every one"""
s1="""heu okm '' lkjmokmk;"""
print(s,s1)

hlo
every one heu okm '' lkjmokmk;

In [ ]:
int()
float()
bool()
complex()
str()

In [2]:
s="boum0omp"
s[:-1]

'boum0om'

In [19]:
s[::-1]

'pmo0muob'

In [20]:
s[2:-2]

'um0o'

In [22]:
l=[0,1,255]
x=bytes(l)# must have 0-255, no assign support as x[1]=2
for i in x:
    print(i)

0
1
255

In [24]:
a,b=input().split()
x=a if a<b else b
print(x)

90 10
10

In [25]:
x=[i for i in input().split()]
print(x)

my name is sai sree
['my', 'name', 'is', 'sai', 'sree']

In [26]:
eval("1-0+7")

8

In [28]:
a=[]
a.append(f"Process Name: {c}, Window Title: {b}, Time Spent: {d} seconds")
print(a)

['Process Name: 5, Window Title: 10, Time Spent: 8 seconds']

In [29]:
print(*a)

Process Name: 5, Window Title: 10, Time Spent: 8 seconds

In [3]:
print("hello %s"%s)

hello boum0omp

In [4]:
a=10
print("%d"%(a))

10

In [9]:

print("hello {0} you ageis {1} helo {2}".format(s,a,s))

hello boum0omp you ageis 10 helo boum0omp

In [10]:
5//2

2

In [26]:
n=int(input())
for i in range(n+1):
    for j in range(i):
        if j<=n-i:
            print(" ",end="")
        else:
            print('*',end='')
    print()

for i in range(n-1,0,-1):
    for j in range(i):
        if j<=n-i:
            print(" ",end="")
        else:
            print('*',end='')
    print()

10






     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [28]:
s="  Welcome to class   "
print(s.lower())
print(s.strip())
print(s.rstrip())
print(s.lstrip())

  welcome to class
Welcome to class
  Welcome to class
Welcome to class

In [32]:
s="welcome to class"
print(s.title())
print(s.capitalize())

Welcome To Class
Welcome to class

In [33]:
#Reversing
s=input()
res=''
for i in range(len(s)-1,-1,-1):
    res+=s[i]
print(res)

saisree
eersias

In [34]:
s=input()
print("".join(reversed(s)))

welcome
emoclew

In [36]:
s=input().split()
print(" ".join(reversed(s)))

hi my name is sai sree
sree sai is name my hi

In [40]:
s=input()
e=''
o=''
for i in range(len(s)):
    if (i+1)%2==0:
        e+=s[i]
    else:
        o+=s[i]
print(e)
print(o)

goodmorning
odonn
gomrig

In [41]:
s1=input()
s2=input()
res=''
for i,j in zip(s1,s2):
    res+=i+j
print(res)

ravi
teja
rtaevjia

In [45]:
s1=input()
n=''
s=''
for i in s1:
    if i.isnumeric():
        n+=i
    else:
        s+=i
print(s+n)

knuhli098nkj
knuhlinkj098

In [47]:
s=input()
for i in range(len(s)):
    if s[i].isnumeric():
        print(s[i-1]*int(s[i]),end='')

a3b2c1
aaabbc

In [49]:
s=input()
for i in range(len(s)):
    if s[i].isnumeric():
        print(chr(ord(s[i-1])+int(s[i])),end='')
    else:
        print(s[i],end='')

a4k3b2
aeknbd

In [50]:
s=input()
res=""
for i in s:
    if i not in res:
        res+=i
print(res)

aaaahjjjui
ahjui

In [51]:
s=input()
d={}
for i in s:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
for i,j in d.items():
    print("{}-{}".format(i,j),end=',')

hhumjkoapaaajkose
h-2,u-1,m-1,j-2,k-2,o-2,a-4,p-1,s-1,e-1,

In [54]:
s=input().split()
for i in range(len(s)):
    if (i+1)%2==0:
        s[i]=s[i][::-1]
print(*s)

one two three four five six
one owt three ruof five xis

##formatting

In [58]:
person={'age':20,'name':'sree'}
print("Age is:{:05d}".format(person['age']))

Age is:00020

In [61]:
print("{p[name]}".format(p=person))

sree

In [62]:
print("{name}".format(**person))

sree

In [63]:
class Person:
    name="sree"
    age=20
print("{p.name} {p.age}".format(p=Person()))

sree 20

In [65]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
print("{p.name} {p.age}".format(p=Person("hema",21)))

hema 21

In [66]:
s="{:{fill}{align}{width}}"
print(s.format('cat',fill='*',align='>',width=7))

****cat

In [67]:
import datetime
date=datetime.datetime.now()
print("{:%d/%m/%y %H:%M:%S}".format(date))

16/05/24 19:46:37

In [2]:
d={'a':1}
d.get('b',0)# dict.get(key,default=None)

0

In [6]:
s1=input()
s2=input()
s3=input()
'''for i,j,k in zip(s1,s2,s3):#same length
    print(i+j+k,end=" ")'''
i=j=k=0
while i<len(s1) or j<len(s2) or k<len(s3):
    res=''
    if i<len(s1):
        res+=s1[i]
        i+=1
    if j<len(s2):
        res+=s2[j]
        j+=1
    if k<len(s3):
        res+=s3[k]
        k+=1
    print(res,end=" ")

abcdefg
xyz
12345
ax1 by2 cz3 d4 e5 f g

In [7]:
l=[10,23,55,7]
l.insert(1,888)#insert(index,value)
print(l)

[10, 888, 23, 55, 7]

In [8]:
l.insert(-10,999)
print(l)

[999, 10, 888, 23, 55, 7]

In [10]:
l.index(23)#index(key)

3

In [11]:
l.clear()

In [12]:
print(l)

[]

In [13]:
k=[[1,2,3],[4,5,6],[7,8,9]]
for i in k:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [14]:
a=[10,20,33,22]
b=[44,22,40,36]
x=[i for i in a if i in b]
print(x)

[22]

In [19]:
a.sort()
print(a)

[10, 20, 22, 33]

In [21]:
print(sorted(a,reverse=True))

[33, 22, 20, 10]

In [17]:
t=(10,2,33)
t1=sorted(t,reverse=True)
print(t1)

[33, 10, 2]

In [18]:
print(tuple(t1))

(33, 10, 2)

In [22]:
a,b,c=t1
print(a)

33

In [24]:
tu=(x**2 for x in range(1,6))
for i in tu:
    print(i)

1
4
9
16
25

In [30]:
s={10,2,45,3,2}
print(s)

{2, 10, 3, 45}

In [31]:
p=[44,33,11,55]
s.update(p)
print(s)

{33, 2, 3, 10, 11, 44, 45, 55}

In [32]:
d=dict()
s={}
print(type(d))
print(type(s))

<class 'dict'>
<class 'dict'>

In [33]:
s=set()

In [34]:
print(type(s))

<class 'set'>

In [35]:
d={x:x**2 for x in range(11)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [36]:
def fun(n=0):
    print(n)
fun()
fun(5)

0
5

In [38]:
'''def fun(n=0,m):#non default must be before default argument
    print(n,m)
fun(2)'''
def fun(n,*s):
    print(n)
    for i in s:
        print(i,end=' ')
fun(2,4,5,6,7,8)

2
4 5 6 7 8

In [39]:
def fun(*s,n):
    print(n)
    for i in s:
        print(i,end=' ')
fun(2,4,5,6,7,n=8)

8
2 4 5 6 7

In [41]:
def display(**kwargs):
    for i,j in kwargs.items():
        print(i,j)
display(a=1,b=2,c=3,d='four')

a 1
b 2
c 3
d four

In [42]:
def fun(a1,a2,a3=3,a4=4):
    print(a1,a2,a3,a4)
fun(1,2)
fun(a3=-3,a2=1,a1=2)

1 2 3 4
2 1 -3 4

In [43]:
fun(1,-2,a4=66)

1 -2 3 66

In [45]:
h='hlo'
def greet():
    print(h)
def greetings():
    global h
    h="hello"
    print(h)
def greets():
    print(h)
greet()
greetings()
greets()

hlo
hello
hello

In [46]:
a=11
def fun():
    a=90
    print(a)
    print(globals()['a'])

In [47]:
fun()

90
11

In [48]:
import math
print(math.factorial(5))

120

In [56]:
def fact(n):
    if n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

In [50]:
#lambda
a=lambda x:x**2
print(a(6))

36

In [54]:
b=lambda x,y:x+" "+y
print(b("Good","Evening"))

Good Evening

In [1]:
def fact(n):
    if n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)
l=[1,3,5,6]
print(list(map(fact,l)))

[1, 6, 120, 720]

In [2]:
print(list(map(lambda x:x**2,l)))

[1, 9, 25, 36]

In [5]:
l1=[1,2,3,4]
l2=[5,6,7,8]
print(list(map(lambda x,y:x+y,l1,l2)))

[6, 8, 10, 12]

In [6]:
print(list(filter(lambda x:x%2==0,l1)))

[2, 4]

In [9]:
from functools import reduce
l1=[1,2,3,4]
print(reduce(lambda x,y:x+y,l1))

10